<div style = "position:absolute; width:1420px; height:680px; border: 1.5px solid;"></div>
<div>
    <br>
    <span style='margin-right:1.25em; display:inline-block;'>&nbsp;</span>
    <span>Angular Machine Test B</span>
    <hr>
    <span class="vertical"></span>
    <br>
    <span style='margin-right:1.25em; display:inline-block;'>&nbsp;</span>
    <button style = "width:150px">Textbox</button>
    <br><br>
    <span style='margin-right:1.25em; display:inline-block;'>&nbsp;</span>
    <button style = "width:150px">Dropdown</button>
</div>
<div style = "position:absolute; top:65px;  left:230px; width:1150px; height:610px; border: 1px dashed;"></div>
